<!DOCTYPE html>
<html><body>
<p>{# -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}

{% block content %}
  </p>
<div class="title">
    <h1 class="entry-title">
      You lost your way!
    </h1>
  </div>
  <div class="main entry-content">
  <center>
			<br><br><br>
			You lost your way, get back to the <a href="https://www.marxists.org/english.htm">right direction</a>
			<br><br><br>
			你好像迷失了方向，返回<a href="https://www.marxists.org/chinese/">正确的道路</a>
		</center>
  </div>
{% endblock %}</body></html>
